{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load allauth account %}

{% block title %}
    {% trans "Sign In" %}
{% endblock title %}

{% block hero %}{% endblock hero %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="text-center mb-4">{% trans "Sign In" %}</h1>

                {% if not SOCIALACCOUNT_ONLY %}
                    <p class="text-center">
                        {% blocktranslate %}
                            If you have not created an account yet, please 
                            <a href="{{ signup_url }}">sign up</a> first.
                        {% endblocktranslate %}
                    </p>
                    <form method="post" action="{% url 'account_login' %}" class="form text-center">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_login" class="form-label text-center">{% trans "Email or Username" %}</label>
                            {{ form.login }}
                        </div>

                        <div class="mb-3">
                            <label for="id_password" class="form-label text-center">{% trans "Password" %}</label>
                            {{ form.password }}
                        </div>

                        <!-- Render the 'remember me' checkbox manually -->
                        <div class="mb-3 form-check text-center">
                            {{ form.remember }}  <!-- Checkbox field -->
                            <label class="form-check-label" for="id_remember">
                                {{ form.remember.label }}  <!-- 'Remember me' label -->
                            </label>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">{% trans "Sign In" %}</button>
                        </div>
                    </form>
                {% endif %}

                {% if SOCIALACCOUNT_ENABLED %}
                    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock extra_body %}