{% extends "base.html" %}
{% load allauth i18n %}
{% block title %}
    {% trans "Sign Out" %}
{% endblock title %}

{% block hero %}{% endblock hero %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="text-center mb-4">{% trans "Sign Out" %}</h1>
                <p class="text-center">
                    {% trans 'Are you sure you want to sign out?' %}
                </p>
                <div class="text-center">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {{ redirect_field }}
                        <button type="submit" class="btn btn-danger">
                            {% trans 'Sign Out' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
