{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans "Sign Up" %}
{% endblock title %}

{% block hero %}{% endblock hero %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="text-center mb-4">{% trans "Sign Up" %}</h1>

                <p class="text-center">
                    {% blocktranslate %}Already have an account? Then please 
                    <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}
                </p>

                {% if not SOCIALACCOUNT_ONLY %}
                    <form method="post" action="{% url 'account_signup' %}" class="form text-center">
                        {% csrf_token %}
                        {{ form|crispy }}

                        {{ redirect_field }}

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %}</button>
                        </div>
                    </form>
                {% endif %}

                {% if SOCIALACCOUNT_ENABLED %}
                    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
