asgiref==3.8.1
crispy-bootstrap5==2024.2
dj-database-url==2.2.0
Django==5.1.1
django-allauth==65.0.0
django-crispy-forms==2.3
gunicorn==23.0.0
pillow==10.4.0
psycopg2==2.9.9
sqlparse==0.5.1
stripe==11.1.1
whitenoise==6.7.0
