{% extends 'base.html' %}

{% load static %}

{% block title %}Order History - CycleShop{% endblock %}

{% block hero %}{% endblock hero %}

{% block blockcss %}
<link rel="stylesheet" href="{% static 'css/order-history.css' %}">
{% endblock %}

{% block content %}
<div id="order-history-page" class="container-order my-5">
    <h1 class="mb-4">My Order History</h1>

    {% if orders %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Name</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Order Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td data-label="Order ID">
                                <a href="{% url 'checkout:order_detail' order_id=order.id %}" class="order-link">
                                    {{ order.id }}
                                </a>
                            </td>
                            <td data-label="Name">{{ order.full_name }}</td>
                            <td data-label="Total">€{{ order.total }}</td>
                            <td data-label="Status">{{ order.status }}</td>
                            <td data-label="Order Date">{{ order.date|date:"F j, Y, g:i a" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No orders found.</p>
    {% endif %}
</div>
{% endblock %}