.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease;
    text-align: center;
    overflow: hidden;
}

/* Image Container for Products */
.product-image-container {
    width: 100%;
    min-height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
}

.product-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Card Body and Title */
.card-body {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    margin-bottom: 15px;
    font-size: 1rem;
}

.btn-primary {
    background-color: #11666f;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #63CCCA;
    color: white;
}

/* Pagination Container */
.pagination-container {
    overflow-x: auto;
    white-space: nowrap;
}

/* Pagination Buttons */
.pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.page-numbers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

/* Button Adjustments for Touch Screens */
.pagination-container .btn {
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    border-radius: 4px;
}

/* Dots for Ellipsis */
.pagination-container .dots {
    display: inline-block;
    padding: 0.5rem;
    color: #6c757d;
}

/* Disabled Button */
.btn-outline-secondary.disabled {
    background-color: #35393C;
    color: #ffffff;
    border-color: #ffffff;
    opacity: 0.8;
    cursor: not-allowed; 
}

.btn-outline-secondary.disabled:hover {
    color: #ffffff;
    background-color: #35393C;
    border-color: #ffffff;
}