body {
    font-family: 'Arial', sans-serif;
    background-color: #35393C;
    color: #F0F0F0;
    margin: 0;
    padding: 0;
}

/* Logo */
.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #63CCCA;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #63CCCA, #5DA399);
    
    -webkit-text-fill-color: transparent;
}

.logo-text:hover {
    text-decoration: none;
    color: #5DA399;
}


/* Header and Navbar */
header {
    background-color: #397367;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: #397367;
    padding: 0.75rem 1rem;
}

/* Navbar Brand */
.navbar-brand {
    font-size: 1.8rem;
    color: #11666f;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
    max-height: 40px;
}

/* Navbar Brand */
.navbar-brand {
    font-size: 1.8rem;
    color: #11666f;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
    max-height: 40px;
}

/* Navbar Links */
.nav-link {
    color: #0a0a0a !important;
    font-size: 1rem;
    margin: 0 10px;
    text-transform: capitalize;
    text-align: center;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #63CCCA !important;
}

@media (max-width: 992px) {
    /* Adjust navbar links for tablets */
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}

/* Toggler Button */
.navbar-toggler {
    border: none;
    background-color: #11666f;
    color: #F0F0F0;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-toggler:hover {
    background-color: #63CCCA;
    color: #35393C;
}

.navbar-toggler-icon {
    filter: invert(100%);
}

/* Dropdown Menu */
.navbar-nav .dropdown-menu {
    background-color: #F8F9FA;
    border: 1px solid #42858C;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-nav .dropdown-item {
    font-size: 1rem;
    color: #35393C;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .dropdown-item:hover {
    background-color: #63CCCA;
    color: #fff;
}

/* Buttons */
.btn-primary {
    background-color: #42858C;
    border: none;
    color: #F0F0F0;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
    background-color: #63CCCA;
    color: #35393C;
}

.navbar-btn {
    min-width: 100px;
    margin: 5px 0;
}

/* Search Bar */
.search-control {
    padding: 0.375rem 0.75rem;
    height: 40px;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    transition: box-shadow 0.2s;
}

.search-control:focus {
    border-color: #63CCCA;
    box-shadow: 0 0 5px rgba(99, 204, 202, 0.5);
    outline: none;
}

.btn-search-custom {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11666f;
    color: #F0F0F0;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
}

.btn-search-custom:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Visually Hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}

/* Free Delivery Banner */
.free-delivery-banner {
    background-color: #11666f;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.free-delivery-banner p {
    margin: 0;
}

/* Hero Image Styles */
.hero-image-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.29);
}

.hero-overlay .intro h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #63CCCA;
}

.hero-overlay .intro p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #F0F0F0;
}

.hero-overlay .intro .btn {
    font-size: 1.2rem;
    padding: 10px 30px;
    background-color: #11666f;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    text-align: center;
}

.hero-overlay .intro .btn:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Category Cards */
.category-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.category-card:hover .category-img {
    transform: scale(1.05);
}

.category-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
    opacity: 0.7;
}

.category-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    border-radius: 5px;
    width: calc(100% - 20px);
    text-align: center;
}

.category-card h5 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Content Styles */
.container {
    padding: 20px;
}

/* Cards and Product Listings */
.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.product-card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.product-card-text {
    font-size: 1rem;
    margin-bottom: 5px;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
}

.product-card .btn {
    margin-top: auto;
    background-color: #42858C;
    color: #F0F0F0;
    transition: background-color 0.3s, color 0.3s;
}

.product-card .btn:hover {
    background-color: #63CCCA;
    color: #35393C;
}

.improved-contrast {
    color: #F0F0F0;
    background-color: #42858C;
    border-color: #5DA399;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover State */
.improved-contrast:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Focus State */
.improved-contrast:focus {
    outline: 2px solid #5DA399;
    outline-offset: 2px;
}

/* Disabled Button Styles */
.improved-contrast.disabled {
    color: #A0A0A0;
    background-color: transparent;
    border-color: #A0A0A0;
    opacity: 1;
    cursor: not-allowed;
}

/* Active State */
.improved-contrast:active {
    background-color: #11666f;
    color: #F0F0F0;
}

/* Disabled Button Styles */
span.btn.btn-outline-secondary.disabled.improved-contrast {
    color: #F0F0F0;
    background-color: transparent;
    border-color: #5DA399;
    cursor: not-allowed;
    opacity: 1;
}

/* Focused or Active States for Consistency */
span.btn.btn-outline-secondary.disabled.improved-contrast:focus {
    outline: 2px solid #5DA399;
    outline-offset: 2px;
}


/* Product Details */
.btn-add {
    display: inline-block;
    padding: 10px 20px;
    background-color: #11666f;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-add:hover {
    background-color: #63CCCA;
    color: #35393C;
}

.btn-rating {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-rating:hover {
    background-color: #63CCCA;
    color: #35393C;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.card .btn {
    margin-top: auto;
    background-color: #11666f;
    color: #F0F0F0;
    width: 100%;
}

.card .btn:hover {
    background-color: #63CCCA;
    color: #35393C;
}

.login-link {
    color: #63CCCA;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.login-link:hover,
.login-link:focus {
    color: #11666F;
    text-decoration: underline;
}

/* Profile */
.btn-profile {
    display: inline-block;
    padding: 10px 20px;
    background-color: #11666f;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    width: 120px;
}

/* Cart */
.btn-cart {
    display: inline-block;
    padding: 10px 20px;
    background-color: #11666f;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    width: 120px;
}

/* Buttons */
.btn {
    display: inline-block;
    background-color: #11666f;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #63CCCA;
    color: #35393C;
}

.btn-delete {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #11666F;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    width: 140px;
}

.btn-delete:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* login */
.login-container {
    max-width: 500px;
    margin: 0;
    padding: 50px 0;
}

/* Wishlist Button */
.btn-wishlist {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background-color: #11666f;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    font-size: 1rem;
}

/* Hover Effect for Wishlist Button */
.btn-wishlist:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Badge Styling for Wishlist Button */
.btn-wishlist .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #dc3545;
    color: #fff;
    font-size: 0.75rem;
    padding: 3px 6px;
    border-radius: 50%;
    font-weight: bold;
}

/* FAQ Page */

.faq-section {
    margin-top: 20px;
}

.faq-section h1 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #35393C;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #ccc;
}

.accordion-header button {
    background-color: #11666f;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.accordion-button:not(.collapsed) {
    background-color: #11666f;
    color: #ffffff;
    box-shadow: none;
}

.accordion-button::after {
    font-size: 1.3rem;
    color: #fff;
}

.accordion-body {
    background-color: #f9f9f9;
    color: #35393C;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5;
    transition: background-color 0.3s ease;
}

.accordion-body:hover {
    background-color: #e8f5e9;
}

.accordion-collapse {
    transition: all 0.3s ease;
}

/* Contact Us Link */
.contact-link {
    color: #63CCCA;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-link:hover,
.contact-link:focus {
    color: #5DA399;
    text-decoration: underline;
    outline: none;
}

.contact-link:active {
    color: #42858C;
}

/* bag */
.btn-proceed {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-proceed:hover {
    background-color: #63CCCA;
    color: #35393C;
}

.btn-continue {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-continue:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Contact */
.btn-contact {
    display: inline;
    padding: 10px 20px;
    background-color: #11666F;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    width: auto;
    margin-bottom: 50px;
}

/* Return & Exchange */
.return-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.return-card-body {
    padding: 20px;
}

.return-card-title {
    color: #397367;
    font-size: 1.5rem;
    font-weight: bold;
}

.return-text {
    color: black;
}

/* Footer */
.footer {
    background-color: #35393C;
    color: #F0F0F0;
    padding: 40px 20px;
}

.footer h2,
.footer h3 {
    color: #42858C;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #F0F0F0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
    color: #63CCCA;
}

.footer input[type="email"] {
    background-color: #11666f;
    color: #F0F0F0;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1rem;
}

.footer input[type="email"]::placeholder {
    color: #F0F0F0;
    opacity: 0.8;
}

.footer button[type="submit"] {
    background-color: #63CCCA;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #35393C;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer button[type="submit"]:hover {
    background-color: #42858C;
    color: #F0F0F0;
}

.footer hr {
    border-top: 1px solid #5DA399;
    margin: 20px 0;
}

/* Footer Privacy Policy & Sitemap Links */
.footer-link {
    text-decoration: none;
    color: #63CCCA;
    transition: color 0.3s ease;
}

.footer-link:hover {
    text-decoration: underline;
    color: #5DA399;
}

.footer-divider {
    color: #63CCCA;
    padding: 0 5px;
}

/* Social Media Icons Styling */
.footer .social-icons a {
    font-size: 1.8rem;
    margin-right: 15px;
    color: #F0F0F0;
    transition: color 0.3s ease;
    text-decoration: none;
}

.footer .social-icons a:hover {
    color: #63CCCA;
}

/* For small devices, adjust padding/margins */
@media only screen and (max-width: 600px) {
    .accordion-header button {
        font-size: 1rem;
        padding: 10px;
    }

    .accordion-body {
        padding: 15px;
    }
}

/* Larger Screens */
@media (min-width: 1200px) {
    input-group {
        max-width: 400px;
        margin:0 auto;
    }
}

/* Card styling */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

/* Order summary styling */
.order-summary {
    margin-bottom: 30px;
}

/* Responsive */
.search-control {
    width: auto;
}

.btn-profile, .btn-cart {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    padding: 0.375rem 0.75rem;
}

/* Medium to Large Screens (Tablets and Desktops) */
@media (min-width: 992px) and (max-width: 1366px) {
    /* Space between search, profile, and cart */
    .d-flex.align-items-center {
        gap: 1rem;
    }
    
    /* Standard padding and alignment for Profile and Cart buttons */
    .btn-profile, .btn-cart {
        padding: 0.375rem 1rem;
        min-width: auto;
        vertical-align: middle;
    }
}

/* Small to Medium Screens (Below 992px) */
@media (max-width: 991px) {
    /* Full-width search control on smaller screens */
    .search-control {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    /* Adjust Profile and Cart button styling */
    .btn-profile, .btn-cart {
        width: 80px;
        height: 40px;
    }

    /* Add icon for "My Profile" on smaller screens */
    .btn-profile::before {
        content: '\f007';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 0.3rem;
    }

    /* Hide "My Profile" text on smaller screens */
    .btn-profile-text {
        display: none;
    }
}

/* Extra Small Screens (Below 768px) */
@media (max-width: 767px) {
    /* Align and center profile and cart icons with consistent spacing */
    .d-flex.align-items-center {
        gap: 0.75rem;
    }

    .btn-profile, .btn-cart {
        width: 100%;
        max-width: 150px;
    }

    /* Cart badge positioning */
    .btn-cart .badge {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
}

/* Nav Bar */
/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar-brand {
        font-size: 1.8rem;
        justify-content: center;
        margin-bottom: 10px;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem;
        margin: 5px 0;
    }

    .btn-primary {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Tablet and Small Laptops (max-width: 1024px) */
@media (max-width: 1024px) {
    .navbar {
        padding: 0.5rem 1rem;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .navbar-nav .nav-link {
        margin: 10px;
    }
}

/* Large Screens (min-width: 1025px) */
@media (min-width: 1025px) {
    .navbar-nav {
        justify-content: space-between;
    }

    .navbar-nav .nav-link {
        margin-right: 15px;
    }
}

/* TV and Extra Large Screens (min-width: 1440px) */
@media (min-width: 1440px) {
    .navbar {
        padding: 1rem 2rem;
    }

    .navbar-nav {
        justify-content: center;
    }

    .navbar-nav .nav-link {
        font-size: 1.2rem;
    }

    .btn-primary {
        font-size: 1.1rem;
    }
}