body {
    font-family: 'Arial', sans-serif;
    background-color: #35393C;
    color: #F0F0F0;
    margin: 0;
    padding: 0;
}

/* Logo */
.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #63CCCA;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #63CCCA, #5DA399);
    
    -webkit-text-fill-color: transparent;
}

.logo-text:hover {
    text-decoration: none;
    color: #5DA399;  /* Slightly darker shade on hover */
}


/* Header and Navbar */
header {
    background-color: #397367;
}

.navbar {
    background-color: #397367; /* Updated to match the header */
}

.navbar-brand {
    font-size: 1.5rem;
    color: #63CCCA;
}

.navbar-brand img {
    margin-right: 10px;
}

.nav-link {
    color: #0a0a0a !important;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: #63CCCA !important; /* Hover effect for links */
}

.btn-primary {
    background-color: #42858C;
    border: none;
    color: #F0F0F0;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #63CCCA;
}

/* Hero Image Styles */
.hero-image-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%); /* Darken the image for better contrast with text */
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background over image */
}

.hero-overlay .intro h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #63CCCA; /* Use the primary color for headings */
}

.hero-overlay .intro p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #F0F0F0; /* Light color for the description */
}

.hero-overlay .intro .btn {
    font-size: 1.2rem;
    padding: 10px 30px;
    background-color: #42858C;
    color: white;
    border: none;
    border-radius: 5px;
}

.hero-overlay .intro .btn:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Content Styles */
.container {
    margin-top: 40px;
    padding: 20px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Footer */
footer {
    background-color: #397367;
    padding: 20px;
    text-align: center;
    color: #F0F0F0;
    position: fixed;
    bottom: 0;
    width: 100%;
}