{% extends 'base.html' %}

{% load static %}

{% block content %}

<section>
    <!-- Image Display Section -->
    <div class="d-flex justify-content-center mb-4">
        <!-- Display a image related to the 400 error -->
        <img src="{% static 'images/400.png' %}" alt="cartoon" class="img-fluid mx-auto">
    </div>
    <!-- Text Content Section -->
    <div class="text-center">
        <!-- Heading indicating a 400 Bad Request error -->
        <h1 class="h1400">ERMMMM.....</h1>
        <h1 class="h1400">400 Bad Request</h1>
        <!-- Explanation message for the user -->
        <p class="p400">Uh oh... Your browser sent something I don't Understand.</p>
        <!-- Button to return the user to the home page -->
        <div class="wrapper">
            <p><a class="btn btn-primary" href="{% url 'login' %}">Return to Home Page</a></p>
        </div>
    </div>
</section>
{% endblock %}