{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block hero %}{% endblock %}

{% block title %}Contact Us - CycleShop{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="my-5 text-center">Contact Us</h1>

            <!-- Contact Form -->
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn-contact btn-primary">Send Message</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}