{% extends 'base.html' %}
{% load static %}

{% block title %}Home | CycleShop{% endblock %}

{% block content %}
<div class="container my-5">
        <div class="row text-center">
            <!-- Road Bikes -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                <a href="{% url 'products:road_bikes' %}">
                    <div class="category-card position-relative">
                        <img src="{% static 'images/road_bikes.jpg' %}" class="img-fluid category-img" alt="A sleek road bike on a scenic road">
                        <div class="category-text">
                            <h3>Road Bikes</h3>
                        </div>
                    </div>
                </a>
            </div>
    
            <!-- Mountain Bikes -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                <a href="{% url 'products:mountain_bikes' %}">
                    <div class="category-card position-relative">
                        <img src="{% static 'images/mountain_bikes.jpg' %}" class="img-fluid category-img" alt="A rugged mountain bike on rocky terrain">
                        <div class="category-text">
                            <h3>Mountain Bikes</h3>
                        </div>
                    </div>
                </a>
            </div>
    
            <!-- Electric Bikes -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                <a href="{% url 'products:electric_bikes' %}">
                    <div class="category-card position-relative">
                        <img src="{% static 'images/electric_bikes.jpg' %}" class="img-fluid category-img" alt="An electric bike ready for a city commute">
                        <div class="category-text">
                            <h3>Electric Bikes</h3>
                        </div>
                    </div>
                </a>
            </div>
    
            <!-- Kids Bikes -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                <a href="{% url 'products:kids_bikes' %}">
                    <div class="category-card position-relative">
                        <img src="{% static 'images/kids_bikes.jpg' %}" class="img-fluid category-img" alt="A colorful kids' bike in a park">
                        <div class="category-text">
                            <h3>Kids Bikes</h3>
                        </div>
                    </div>
                </a>
            </div>
    
            <!-- Clothing -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                <a href="{% url 'products:clothing' %}">
                    <div class="category-card position-relative">
                        <img src="{% static 'images/clothing.jpg' %}" class="img-fluid category-img" alt="High-performance cycling clothing on display">
                        <div class="category-text">
                            <h3>Clothing</h3>
                        </div>
                    </div>
                </a>
            </div>
    
            <!-- Accessories -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                <a href="{% url 'products:accessories' %}">
                    <div class="category-card position-relative">
                        <img src="{% static 'images/accessories.jpg' %}" class="img-fluid category-img" alt="Essential cycling accessories like helmets and tools">
                        <div class="category-text">
                            <h3>Accessories</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}