{% extends 'base.html' %}
{% load static %}

{% block title %}Home | CycleShop{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row text-center">

        <!-- Road Bikes -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'products:product_category' 'road-bikes' %}">
                <div class="category-card position-relative">
                    <img src="{% static 'images/road_bikes.jpg' %}" class="img-fluid category-img"
                        alt="Road Bikes">
                    <div class="category-text">
                        <h5>Road Bikes</h5>
                    </div>
                </div>
            </a>
        </div>

        <!-- Mountain Bikes -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'products:product_category' 'mountain-bikes' %}">
                <div class="category-card position-relative">
                    <img src="{% static 'images/mountain_bikes.jpg' %}" class="img-fluid category-img"
                        alt="Mountain Bikes">
                    <div class="category-text">
                        <h5>Mountain Bikes</h5>
                    </div>
                </div>
            </a>
        </div>

        <!-- Electric Bikes -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'products:product_category' 'electric-bikes' %}">
                <div class="category-card position-relative">
                    <img src="{% static 'images/electric_bikes.jpg' %}" class="img-fluid category-img"
                        alt="Electric Bikes">
                    <div class="category-text">
                        <h5>Electric Bikes</h5>
                    </div>
                </div>
            </a>
        </div>

        <!-- Kids Bikes -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'products:product_category' 'kids-bikes' %}">
                <div class="category-card position-relative">
                    <img src="{% static 'images/kids_bikes.jpg' %}" class="img-fluid category-img" alt="Kids Bikes">
                    <div class="category-text">
                        <h5>Kids Bikes</h5>
                    </div>
                </div>
            </a>
        </div>

        <!-- Clothing -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'products:product_category' 'clothing' %}">
                <div class="category-card position-relative">
                    <img src="{% static 'images/clothing.jpg' %}" class="img-fluid category-img" alt="Clothing">
                    <div class="category-text">
                        <h5>Clothing</h5>
                    </div>
                </div>
            </a>
        </div>

        <!-- Accessories -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'products:product_category' 'accessories' %}">
                <div class="category-card position-relative">
                    <img src="{% static 'images/accessories.jpg' %}" class="img-fluid category-img" alt="Accessories">
                    <div class="category-text">
                        <h5>Accessories</h5>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}