{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CycleShop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>CycleShop</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'products:product_list' %}">Products</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </div>

    <footer>
        <p></p>
    </footer>
</body>
</html>