body {
    font-family: 'Arial', sans-serif;
    background-color: #35393C;
    color: #F0F0F0;
    margin: 0;
    padding: 0;
}

/* Logo */
.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #63CCCA;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #63CCCA, #5DA399);
    
    -webkit-text-fill-color: transparent;
}

.logo-text:hover {
    text-decoration: none;
    color: #5DA399;
}


/* Header and Navbar */
header {
    background-color: #397367;
}

.navbar {
    background-color: #397367;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #63CCCA;
    text-transform: uppercase;
    margin-left: 30px;
}

.navbar-brand img {
    margin-right: 10px;
}

.nav-link {
    color: #0a0a0a !important;
    font-size: 1.1rem;
    text-align: right;
    margin-right: 30px;
}

.navbar-nav .form-control {
    max-width: 150px;
    margin-right: 1rem;
}

.nav-link:hover {
    color: #63CCCA !important;
}

/* Mobile Navbar Button Styles (Mobile Navbar) */
.navbar-nav .nav-link.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    background-color: #42858C !important;
    border: 1px solid #42858C !important;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link.btn:hover {
    background-color: #63CCCA !important;
    color: #35393C !important;
}

/* Primary Button Styling */
.btn-primary {
    background-color: #42858C;
    border: none;
    color: #F0F0F0;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

.btn-primary:hover {
    background-color: #63CCCA;
}

.navbar-btn {
    min-width: 100px;
}

/* Search bar and Buttons */
.search-control {
    padding: 0.375rem 0.75rem;
    height: 40px;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    transition: box-shadow 0.2s;
}

.search-control:focus {
    border-color: #63CCCA;
    box-shadow: 0 0 5px rgba(99, 204, 202, 0.5);
    outline: none;
}

.btn-search-custom {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #42858C;
    color: #F0F0F0;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
}

.btn-search-custom:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Input Group Text Styling (Search Button) */
.input-group-text {
    padding: 0.25rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    background-color: #42858C;
    color: #F0F0F0;
    border: none;
    transition: background-color 0.3s;
}

.input-group-text:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Free Delivery Banner */
.free-delivery-banner {
    background-color: #42858C;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.free-delivery-banner p {
    margin: 0;
}

/* Hero Image Styles */
.hero-image-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-overlay .intro h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #63CCCA;
}

.hero-overlay .intro p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #F0F0F0;
}

.hero-overlay .intro .btn {
    font-size: 1.2rem;
    padding: 10px 30px;
    background-color: #42858C;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    text-align: center;
}

.hero-overlay .intro .btn:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Category Cards */
.category-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.category-card:hover .category-img {
    transform: scale(1.05);
}

.category-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.category-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
    width: calc(100% - 20px);
    text-align: center;
}

.category-card h5 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Content Styles */
.container {
    padding: 20px;
}

/* Cards and Product Listings */
.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 250px;
}

.product-card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.product-card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.product-card-text {
    font-size: 1rem;
    margin-bottom: 5px;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
}

.product-card .btn {
    margin-top: auto;
    background-color: #42858C;
    color: #F0F0F0;
    transition: background-color 0.3s, color 0.3s;
}

.product-card .btn:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Product Details */
.btn-add {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-add:hover {
    background-color: #63CCCA;
    color: #35393C;
}

.btn-rating {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-rating:hover {
    background-color: #63CCCA;
    color: #35393C;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 30px;
}

.card .btn {
    margin-top: auto;
    background-color: #42858C;
    color: #F0F0F0;
    width: 100%;
}

.card .btn:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Profile */
.btn-profile {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    width: 120px;
}

/* Cart */
.btn-cart {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    width: 120px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    width: 120px;
}

.btn:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* login */
.login-container {
    max-width: 500px;
    margin: 0;
    padding: 50px 0;
}

/* Wishlist Button */
.btn-wishlist {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    font-size: 1rem;
}

/* Hover Effect for Wishlist Button */
.btn-wishlist:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Badge Styling for Wishlist Button */
.btn-wishlist .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #dc3545;
    color: #fff;
    font-size: 0.75rem;
    padding: 3px 6px;
    border-radius: 50%;
    font-weight: bold;
}

/* FAQ Page */

.accordion-item {
    border: none;
    border-bottom: 1px solid #ccc;
}

.accordion-header button {
    background-color: #397367;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.accordion-header button:hover {
    background-color: #63CCCA;
}

.accordion-button::after {
    font-size: 1.3rem;
}

.accordion-body {
    background-color: #f9f9f9;
    color: #35393C;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5;
    transition: background-color 0.3s ease;
}

.accordion-button:not(.collapsed) {
    background-color: #5DA399;
    color: #ffffff;
    box-shadow: none;
}

.accordion-collapse {
    transition: all 0.3s ease;
}

.accordion-button::after {
    color: #fff;
}

/* bag */
.btn-proceed {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-proceed:hover {
    background-color: #63CCCA;
    color: #35393C;
}

.btn-continue {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-continue:hover {
    background-color: #63CCCA;
    color: #35393C;
}

/* Contact */
.btn-contact {
    display: inline;
    padding: 10px 20px;
    background-color: #42858C;
    color: #F0F0F0;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
}

/* Return & Exchange */
.return-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.return-card-body {
    padding: 20px;
}

.return-card-title {
    color: #397367;
    font-size: 1.5rem;
    font-weight: bold;
}

.return-text {
    color: black;
}

/* Footer */
.footer {
    background-color: #35393C;
    color: #F0F0F0;
}

.footer h5 {
    color: #63CCCA;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #F0F0F0;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #63CCCA;
}

.footer input[type="email"] {
    background-color: #5DA399;
    color: #F0F0F0;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
}

.footer input[type="email"]::placeholder {
    color: #F0F0F0;
}

.footer button[type="submit"] {
    background-color: #63CCCA;
    border: none;
    padding: 10px;
    color: #35393C;
    text-transform: uppercase;
    font-weight: bold;
}

.footer button[type="submit"]:hover {
    background-color: #42858C;
    color: #F0F0F0;
}

.footer hr {
    border-top: 1px solid #5DA399;
}

/* Social Media Icons Styling */
.footer .social-icons a {
    font-size: 1.8rem;
    margin-right: 15px;
    color: #f0f0f0;
    transition: color 0.3s;
    text-decoration: none;
}

.social-icons a:hover {
    color: #63CCCA;
}

/* For small devices, adjust padding/margins */
@media only screen and (max-width: 600px) {
    .accordion-header button {
        font-size: 1rem;
        padding: 10px;
    }

    .accordion-body {
        padding: 15px;
    }
}

/* Larger Screens */
@media (min-width: 1200px) {
    input-group {
        max-width: 400px;
        margin:0 auto;
    }
}

/* Card styling */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

/* Order summary styling */
.order-summary {
    margin-bottom: 30px;
}

/* Responsive */
.search-control {
    width: auto;
}

.btn-profile, .btn-cart {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    padding: 0.375rem 0.75rem;
}

/* Medium to Large Screens (Tablets and Desktops) */
@media (min-width: 992px) and (max-width: 1366px) {
    /* Space between search, profile, and cart */
    .d-flex.align-items-center {
        gap: 1rem; /* Adds space between elements */
    }
    
    /* Standard padding and alignment for Profile and Cart buttons */
    .btn-profile, .btn-cart {
        padding: 0.375rem 1rem;
        min-width: auto;
        vertical-align: middle;
    }
}

/* Small to Medium Screens (Below 992px) */
@media (max-width: 991px) {
    /* Full-width search control on smaller screens */
    .search-control {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    /* Adjust Profile and Cart button styling */
    .btn-profile, .btn-cart {
        width: 80px;
        height: 40px;
    }

    /* Add icon for "My Profile" on smaller screens */
    .btn-profile::before {
        content: '\f007'; /* Font Awesome user icon */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 0.3rem;
    }

    /* Hide "My Profile" text on smaller screens */
    .btn-profile-text {
        display: none;
    }
}

/* Extra Small Screens (Below 768px) */
@media (max-width: 767px) {
    /* Align and center profile and cart icons with consistent spacing */
    .d-flex.align-items-center {
        gap: 0.75rem;
        flex-direction: column;
    }

    .btn-profile, .btn-cart {
        width: 100%;
        max-width: 150px;
    }

    /* Cart badge positioning */
    .btn-cart .badge {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
}