{% extends 'base.html' %}
{% load static %}

{% block blockcss %}
<link rel="stylesheet" href="{% static 'css/manage_products.css' %}">
{% endblock %}

{% block hero %}{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Product Management</h2>

    <a href="{% url 'products:add_product' %}" class="btn-add btn-success mb-4">Add New Product</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-thumbnail" alt="{{ product.name }}">
                    {% else %}
                    <img src="{% static 'images/default_product.jpg' %}" class="img-thumbnail" alt="{{ product.name }}">
                    {% endif %}
                </td>
                <td>{{ product.name }}</td>
                <td>€{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a href="{% url 'products:edit_product' product.id %}"
                        class="btn-m-edit btn-warning btn-sm">Edit</a>
                    <a href="{% url 'products:delete_product' product.id %}" class="btn-m-delete btn-danger btn-sm"
                        onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination Buttons -->
    <div class="pagination">
        {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}" class="btn-paginator">Previous</a>
        {% endif %}

        {% for num in products.paginator.page_range %}
        {% if products.number == num %}
        <span class="btn-paginator active">{{ num }}</span>
        {% else %}
        <a href="?page={{ num }}" class="btn-paginator">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}" class="btn-paginator">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}